@forward 'pkg:govuk-frontend' with (
  $govuk-assets-path: '/public/assets/' !default,
  $govuk-global-styles: true !default,
  $govuk-include-default-font-face: false !default,
  $govuk-font-family: ('Helvetica', 'Arial', sans-serif) !default,
  $govuk-page-width: 1920px !default
);
