# Without a session cookie password the app will fail to start. You can generate a password using the following command:
# openssl rand -base64 32
SESSION_COOKIE_PASSWORD=

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_AUTHORITY_HOST=https://login.microsoftonline.com
ENTRA_REDIRECT_HOST=http://localhost:3000
BACKEND_API_URL=http://localhost:3001
