{% extends "common/layout.njk" %}

{% set pageTitle = 'Home' %}
{% set page = 'home' %}

{% block content %}
  <div class="govuk-width-container govuk-!-margin-top-6">

      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p></p>
      </div>
    </div>
  </div>

  </div>
{% endblock %}