{% extends "common/layout.njk" %}

{% set pageTitle = 'Designer Dashboard' %}
{% set page = 'designer' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Manage guidance</h1>

      <p class="govuk-body">
        Edit the guidance already in the hub, or bring in a Word document and
        convert it to markdown.
      </p>

      <div class="app-card">
        <h2 class="govuk-heading-m app-card__title">
          <a class="govuk-link app-card__link" href="/designer/guidance">Edit existing guidance</a>
        </h2>
        <p class="govuk-body app-card__description">
          Update guidance that is already in the hub.
        </p>
      </div>

      <div class="app-card">
        <h2 class="govuk-heading-m app-card__title">
          <a class="govuk-link app-card__link" href="/designer/migrate">Migrate guidance</a>
        </h2>
        <p class="govuk-body app-card__description">
          Upload a Word document and convert it to Markdown. You can then review, edit and publish it in the hub.
        </p>
      </div>

    </div>
  </div>
{% endblock %}
