@use 'govuk-frontend' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

.govuk-width-container {
  flex: 1;

  @media (min-width: #{$govuk-page-width + 60px}) {
    width: 100%;
  }
}

main {
  flex: 1
}

.govuk-grid-column-two-thirds,
.govuk-grid-column-full {
  img {
    max-width: 100%;
    height: auto;
  }
}
